::deep .implementation-progress-toolbar.dxbl-toolbar {
    height: 100%;
    min-width: max-content;
    align-items: center;
    flex-wrap: nowrap;
}

::deep .implementation-progress-toolbar .dxbl-toolbar-title {
    white-space: nowrap;
}
