.content-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.toolbar {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.toolbar .custom-item {
    display: flex;
    align-items: center;
}

.employee-account-root {
    flex: 1 1 auto;
    min-height: 0;
}

.employee-account-grid-card {
    height: 100%;
    min-height: 28rem;
}

::deep .employee-account-grid {
    height: 100%;
}

::deep .search-textbox-item {
    max-width: 18rem;
}
