.password-textbox-container {
    position: relative;
}

::deep .password-textbox input {
    padding-right: 3rem;
}

::deep .password-visibility-button {
    position: absolute;
    top: 50%;
    right: 0.25rem;
    z-index: 1;
    transform: translateY(-50%);
}
