.small-size .contact-data {
    --accordion-item-margin-top: 0.5rem;
}

.medium-size .contact-data {
    --accordion-item-margin-top: 0.75rem;
}

.large-size .contact-data {
    --accordion-item-margin-top: 1rem;
}

::deep .opportunity {
    box-shadow: 0 0.125rem 0.25rem 0 #00000024, 0 0 0.125rem 0 #0000001F;
    border-radius: 0.25rem;
    padding: 0.5em 1em;
}

    .opportunity .title {
        font-weight: 600;
    }

::deep .list-box {
    --dxbl-list-box-border-width: 0;
    --dxbl-list-box-item-padding-x: 0;
    flex-shrink: 0;
    height: unset;
}

::deep .accordion-item {
    margin-top: var(--accordion-item-margin-top);
}

::deep .activity {
    font-family: var(--dxds-font-family-sans-serif);
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border-left: 0.25rem solid var(--dxds-primary-90);
    box-shadow: 0 0.125rem 0.25rem 0 #00000024, 0 0 0.125rem 0 #0000001F;
}

::deep .name {
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep .info {
    opacity: 0.7;
}

::deep .grid-item {
    display: flex;
    align-items: center;
}
