.block-content {
    border-radius: 0.5rem;
    flex-grow: 0;
    margin: auto;
    max-width: 30rem;
    padding: 1.5rem;
    width: auto;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 0.625rem;
}

    .title.title-secondary {
        padding-top: 0.313rem;
        padding-bottom: 0;
        color: var(--dxds-color-content-neutral-subdued-rest);
    }

    .title .title-content-text-secondary {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

::deep .w-100 {
    width: 100%;
}

::deep .text-danger {
    color: var(--dxds-color-surface-danger-default-rest);
}
